@model MvcApplication5.Models.Game_Info

@{
    ViewBag.Title = "UpdateConfirm";
}

<h2>Update Confirm</h2>

<h2>Data Updated Successfully</h2>

<br />
<a href="/Admin/ViewAllGames"  style="color:blue"> Click To View</a>
