@{
    ViewBag.Title = "Contact Information";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span >Main:</span>
        <span>+92-911911125</span>
    </p>
    <p>
        
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="">Support:</span>
        <span><a href="mailto:Support@example.com">bcsf11a070@pucit.edu.pk</a></span>
    </p>
    
    
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        One The Way<br />
        PUCIT old campus
    </p>
</section>